@import url('./fonts/fonts.scss');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important; /* твой цвет фона */
  -webkit-text-fill-color: #000 !important; /* цвет текста */
  transition: background-color 5000s ease-in-out 0s; /* чтобы Chrome не "подменял" */
}


#app{
    margin: 0;
    overflow: hidden;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    background-color: #FFF9FC ;
    font-family: "JejuMyeingo" !important;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 320px;
    height: 600px;
    pointer-events: auto;
    color:#000;
    font-size: 14px;
}

body{
    background-color: transparent;
    font-family: "JejuMyeingo" !important;
}
