@use './variables.scss';
@use './reset.scss';
@import url('./fonts/fonts.scss');

.my-extension-wrapper {
    font-family: 'JejuMyeingo', sans-serif;
    * {
      box-sizing: border-box;
    }
  
    input {
      border: 1px solid var(--text-border);
      background: transparent;
      color: var(--text-border);
    }
  
    input:-webkit-autofill {
      box-shadow: 0 0 0 1000px var(--text-border) inset !important;
      -webkit-text-fill-color: var(--text) !important;
    }
}
  
#app {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 600px;
    z-index: 2147483647;
    background-color: var(--background);
    color: var(--text-border);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    overflow: hidden;
    display: block;
}