@use 'styles/mixins.scss' as *;
@use 'styles/variables.scss';

.home {
    @include size(100%,100%);
   
    .content {
      @include column;
      gap: 2rem;
      .settings {
        @include column;
        
        .opacity{
          position: relative;
          background: linear-gradient(to right,#FFFBFB, #111111 100%);
          @include border-form(1px, var(--text-border), solid, var(--radius));
          @include size(100%,0.4rem);

          .btn {
            position: absolute;
            top: 3px;
            @include size(0.8rem,0.8rem);
            @include border-form(1px, var(--text-border), solid, 50%);
            transform: translate(-50%, -50%);
            background-color: var(--primary);
            cursor: pointer;
          }
        }

      }
  
      .images {
        .preview{
        @include border-form(1px, var(--text-border), dashed, 5px);
        background-color: var(--primary);
        padding: 0.6rem;
  
        img {
          @include size(86px,86px);
          @include border-form(1px, var(--text-border), solid, 5px);
          object-fit: cover;
          opacity: 0.9;
          transition: transform 0.2s ease;
          &:hover {
            transform: scale(1.05);
          }
        }}
      }
    }
  
    .upload {
      @include center;
      @include border-form(1px, var(--text-border), dashed, var(--radius));
      margin: 0 auto;
      height: 15rem;
      background-color: var(--primary);
      text-align: center;
      padding: 1rem;
      color: var(--text-border);
    }

    .panel{
      @include align-center;
      @include border-form(1px, var(--text-border),dashed,var(--radius));
      height: 2rem;
      gap: 0.4rem;
      padding: 0.4rem;
      svg{
        font-size: 1.3rem;
        cursor: pointer;
      }
    }
  }
  