@use 'styles/mixins.scss' as*;
@use 'styles/variables.scss';

.images {
    .preview{
    @include border-form(1px, var(--text-border), dashed, 5px);
    background-color: var(--primary);
    padding: 0.6rem;

    img {
      @include size(86px,86px);
      @include border-form(1px, var(--text-border), solid, 5px);
      object-fit: cover;
      opacity: 0.9;
      transition: transform 0.2s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
    }
}