@use './variables.scss';
@use './reset.scss';
@import url('./fonts/fonts.scss');

.my-extension-wrapper {
    * {
      box-sizing: border-box;
    }
  
    input {
      border: 1px solid var(--text-border);
      background: transparent;
      color: var(--text-border);
    }
  
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0px 1000px var(--input) inset !important; 
      -webkit-text-fill-color: var(--text-border) !important; 
      transition: background-color 5000s ease-in-out 0s; 
    }
}
  
#app {
    font-family: 'JejuMyeingo', sans-serif !important;
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 600px;
    z-index: 2147483647;
    background-color: var(--background);
    color: var(--text-border);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    overflow: hidden;
    display: block;
    transition: 
    background-color ease-in-out 0.3s,
    color ease-in-out 0.3s;
}

.image_container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.distance-popup {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9999;
  background-color: var(--primary);
  color: var(--text-border);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 220px;
  font-size: 14px;
  font-family: sans-serif;

  h3 {
    margin: 0 0 0.5rem;
    font-size: 16px;
    border-bottom: 1px var(--text-border) solid;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-bottom: 0.5rem;
      line-height: 1.4;
    }
  }
}

.distance-line{
  position: absolute;
  height: 4px;
  pointer-events: none;
  z-index: 9999;
  transform-origin: 0 0;
  transition: transform 0.2s ease-out, width 0.2s ease-out;
  background-color: var(--primary);
  border-radius: 4px;
}