:root[data-theme = 'blue']{
    --logo-accent: #007acc;
    --primary:#e3eef8;
    --text-border:#2a2d32;
    --background:#f6f9fc;
    --input:#eff4f8;
    --radius:30px;
    --font-size:14px;
}

:root[data-theme = 'pink']{
    --logo-accent: #d54f8c;
    --primary:#f3e6f1;
    --text-border:#3c363c;
    --background:#fff7fb;
    --input:#fdf5f9;
    --radius:30px;
    --font-size:14px;
}

:root[data-theme = 'green']{
    --logo-accent: #3ba47c;
    --primary:#def8eb;
    --text-border:#38423d;
    --background:#f5fcf8;
    --input:#eefbf3;
    --radius:30px;
    --font-size:14px;
}

:root[data-theme = 'coffee']{
    --logo-accent: #a1744e;
    --primary:#efe8e0;
    --text-border:#3a322c;
    --background:#f9f6f3;
    --input:#f5f1ee;
    --radius:30px;
    --font-size:14px;
}

:root[data-theme = 'dark']{
    --logo-accent: #40e0d0;
    --primary:#7b7ef9;
    --text-border:#e0e0e0;
    --background:#1a1b1e;
    --input:#2c2d31;
    --radius:30px;
    --font-size:14px;
}