@use 'styles/mixins.scss' as*;
@use 'styles/variables.scss';

.settings {
    @include column;
    
    .opacity{
      position: relative;
      background: linear-gradient(to right,#FFFBFB, #111111 100%);
      @include border-form(1px, var(--text-border), solid, var(--radius));
      @include size(100%,0.4rem);

      .btn {
        position: absolute;
        top: 3px;
        @include size(0.8rem,0.8rem);
        @include border-form(1px, var(--text-border), solid, 50%);
        transform: translate(-50%, -50%);
        background-color: var(--primary);
        cursor: pointer;
      }
    }

  }